:root {
    --npslightbrown: #c46c39;
    --npsdarkbrown: #98542c;
    --npsdarkgreen: #2d4b1e;
}

@font-face {
    font-family: "Rawlinson";
    src: url('fonts/Rawlinson Bold.otf');
}

@font-face {
    font-family: "NationalPark-Regular";
    src: url('fonts/NationalPark-Regular.otf');
}

@font-face {
    font-family: "NationalPark-Bold";
    src: url('fonts/NationalPark-Bold.otf');
}

h2 {
    text-align: center;
    font-family: "Rawlinson";
    color: var(--npsdarkbrown);
    font-size: 90px;
    margin: 10px;
}

h3 {
    text-align: center;
    font-family: "Rawlinson";
    font-size: 40px;
    color: var(--npsdarkbrown);
    margin: 5px
}

h5 {
    text-align: center;
    font-family: "Rawlinson";
    font-size: 18px;
    color: var(--npslightbrown);
    margin: 5px;
    margin-bottom: 15px;
}

h6 {
    text-align: center;
    font-family: "NationalPark-Regular";
    font-size: 14px;
    color: var(--npslightbrown);
    margin: 0px;
    margin-bottom: 15px;
}

.divider {
    height: 70px;
    width: 100%;
}

hr {
    margin: 50px;
    height: 3px!important;
    background-color: var(--npslightbrown)
}

#nps_img {
    padding-top: 25px;
    padding: 25px;
    width: 45px;;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.marks {
    font-family: "Rawlinson";
}

#margin {
    background-color: white!important;
}

#container {
    background-color: #fef8f5;
    align-self: center;
}


.right_side_text {
    margin-right: 30px;
}

.left_side_text {
    margin-left: 20px;
}

li {
    font-family: "NationalPark-Regular";
    font-size: 16px;
    color: var(--npslightbrown);
    margin-bottom: 15px;
}

#bump_chart {
    margin-left: 30px;
    margin-right: 40px;
}

#small_multiples {
    margin-left: 40px;
}

#stacked_chart {
    margin-left: 40px;
}

#timeline {
    margin-right: 40px;
    margin-left: 10px;
}

.weighted_text {
    font-family: "NationalPark-Bold";
}

.backcountry_text {
    font-family: "NationalPark-Bold";
    color: #1b9e77;
}

.rv_text {
    font-family: "NationalPark-Bold";
    color: #666666;   
}

.tent_text {
    font-family: "NationalPark-Bold";
    color: #d95f02;   
}

label, select, input {
    font-family: "NationalPark-Regular";
    color: var(--npslightbrown);
    background-color: #fef8f5;
    border-color: var(--npslightbrown);
    margin: 20px;
}

.vega-bind {
    margin-top: 10px;
}

#stacked_chart > div > form > div:nth-child(1) > label > span:nth-child(3) {
    margin-left: 7px;
}
